@model List<Product>



<div class="row">
    <div class="col-md-3"
         
         >
        <h3> CATEGORY </h3>
    </div>


    <div class="row">
        <partial name="_ProductPartial"/>
    </div>

</div>
@section scripts{

<script>

    $(#Category-List).load("/Product/GetCategory")

</script>

 }
